* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }
  
  body {
    background-image: url('../assets/1255561.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #F2F2F2;
    min-height: 100vh;
  }
  
  button {
    cursor: pointer;
  }